{% extends "default.html" %}

{% block content %}
    <div class="block">
        <h1>Hey, timeslots!</h1>
    </div>

    {% if timeslot == False %}
        <div>
            <p>There is no slot running right now</p>
            <a href="{% url 'create_timeslot' %}">Start new timeslot</a>
        </div>
    {% else %}
        <div class="block">
            <a href="{% url 'create_task' %}?timeslot={{ timeslot.id }}">Start new task</a>

            <p>
                <span class="duration">{{ timeleft }}</span>
                Timeslot #{{ timeslot.id }}
            </p>

            <div class="slots">
                {% for event in events %}
                    <div class="slot">
                        {% include "timebudget/lozenge.html" with type=event.type %}
                        {{ event.name }}
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}

    <div class="block">
        <h2>Past Timeslots</h2>

        <div class="slots">
            {% for timeslot in timeslots %}
                <div class="slot">
                    <a href="{% url 'view_timeslot' timeslot.id %}">
                        {{ timeslot.duration }}
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>

    <p>Start a slot, write some tasks, complete them in the slot!</p>
{% endblock %}